<div class="notFoundContainer">
  <div class="mars"></div>
  <img
    src="./../../../../assets/images/404.svg"
    class="logo-404"
    alt="logo-404"
  />
  <img
    src="./../../../../assets/images/meteor.svg"
    class="meteor"
    alt="meteor"
  />
  <div class="text">
    <p class="title">Oh no!!</p>
    <p class="subtitle">
      You’re either misspelling the URL <br />
      or requesting a page that's no longer here.
    </p>
    <div>
      <a class="btn-back" href="/home">Back to home</a>
    </div>
  </div>

  <img
    src="./../../../../assets/images/astronaut.svg"
    class="astronaut"
    alt="astronaut"
  />
  <img
    src="./../../../../assets/images/spaceship.svg"
    class="spaceship"
    alt="spaceship"
  />
</div>
